data/workflows/ReviewBot_Get_App_Config.json
{
  "active": false,
  "connections": {
    "Executed": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get row(s) in sheet",
            "type": "main"
          }
        ]
      ]
    },
    "Get Localized Texts": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Get Localized Texts",
            "type": "main"
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-12T12:11:50.684Z",
  "id": "eNNAQSWM6Uwy6Vp6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ReviewBot: Get App Config",
  "nodes": [
    {
      "id": "33f1b7c8-5e08-4b44-a3e7-be8472a99a25",
      "name": "Merge",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        512,
        -96
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "e502109f-ee23-403f-ab32-d995e82143be",
      "name": "Get Localized Texts",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ReviewBot: Get Localized Strings",
          "mode": "list",
          "value": "mAWhdyQwe3gIXOIH"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "language"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "language",
              "id": "language",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "language": "={{ $json.language }}"
          }
        }
      },
      "position": [
        288,
        -224
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tWkoduGSa2xgzwoK",
          "name": "ReviewBot: App Definitions Google Sheet"
        }
      },
      "id": "0a1355d7-672e-4068-9101-3c2caba58189",
      "name": "Get row(s) in sheet",
      "parameters": {
        "documentId": {
          "__rl": true,
          "cachedResultName": "Review Bot: Clients Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit",
          "mode": "list",
          "value": "YOUR_SHEET_ID"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "app_id",
              "lookupValue": "={{$json.appId}}"
            }
          ]
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "cachedResultName": "list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0",
          "mode": "list",
          "value": "gid=0"
        }
      },
      "position": [
        48,
        -80
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6
    },
    {
      "id": "7efc31ca-c356-49f8-8833-a1d0b06ed889",
      "name": "Executed",
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "appId"
            }
          ]
        }
      },
      "position": [
        -128,
        -80
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    }
  ],
  "pinData": {
    "Executed": [
      {
        "json": {
          "appId": "scream"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-24T13:32:31.940Z",
      "project": {
        "createdAt": "2025-10-24T13:32:29.955Z",
        "description": null,
        "icon": null,
        "id": "VkQs5OwIPTLelYCF",
        "name": "Michal Janecek <michal.janecek@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2025-10-24T13:32:29.955Z",
            "projectId": "VkQs5OwIPTLelYCF",
            "updatedAt": "2025-10-24T13:32:29.955Z",
            "user": {
              "createdAt": "2025-10-24T13:32:28.786Z",
              "disabled": false,
              "email": "michal.janecek@gmail.com",
              "firstName": "Michal",
              "id": "12951ae8-ddcc-476d-9f57-387eafc1e9d9",
              "isPending": false,
              "lastActiveAt": "2025-10-24",
              "lastName": "Janecek",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-24T13:39:35.272Z",
                "version": "v4"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "userActivated": false
              },
              "updatedAt": "2025-10-24T13:51:04.011Z"
            },
            "userId": "12951ae8-ddcc-476d-9f57-387eafc1e9d9"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-24T13:39:31.750Z"
      },
      "projectId": "VkQs5OwIPTLelYCF",
      "role": "workflow:owner",
      "updatedAt": "2025-10-24T13:32:31.940Z",
      "workflowId": "eNNAQSWM6Uwy6Vp6"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-01T12:55:41.737Z",
  "versionId": "3cb3b38e-59f6-4fc5-9ce1-b867300f6ebd"
}
