data/workflows/ReviewBot_Post_Reply.json
{
  "active": false,
  "connections": {
    "Is Store Google Play ?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Post Reply To Google Play",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Post Reply To AppStore",
            "type": "main"
          }
        ]
      ]
    },
    "Post Reply To AppStore": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set Result",
            "type": "main"
          }
        ]
      ]
    },
    "Post Reply To Google Play": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set Result",
            "type": "main"
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Is Store Google Play ?",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-13T07:58:08.148Z",
  "id": "FxVE7l2gg9ZJP5xr",
  "isArchived": false,
  "meta": null,
  "name": "ReviewBot: Post Reply",
  "nodes": [
    {
      "id": "16ab2b72-3e9b-420a-9a5f-062c5eb91ac2",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "platform"
            },
            {
              "name": "reviewId"
            },
            {
              "name": "replyText"
            },
            {
              "name": "app_id"
            }
          ]
        }
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "470295d0-e270-4aba-b649-9a5d4b48a481",
      "name": "Is Store Google Play ?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f76c588c-02a0-4d10-a711-d30be12b4c5b",
              "leftValue": "={{$json.platform}}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "Android"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        320,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "alwaysOutputData": false,
      "executeOnce": false,
      "id": "c1eb3f8f-a46b-4f03-a186-8bc8f8a3df07",
      "name": "Post Reply To Google Play",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ReviewBot: Post Reply to GooglePlay",
          "mode": "list",
          "value": "oTQIWayY9yey7pJI"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "reviewId",
              "id": "reviewId",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "replyText",
              "id": "replyText",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "app_id",
              "id": "app_id",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "app_id": "={{ $json.app_id }}",
            "replyText": "={{ $json.replyText }}",
            "reviewId": "={{ $json.reviewId }}"
          }
        }
      },
      "position": [
        528,
        -96
      ],
      "retryOnFail": false,
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "05be0706-1c6c-4511-b229-539d056c0efd",
      "name": "Post Reply To AppStore",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "ReviewBot: Post Reply to AppStore",
          "mode": "list",
          "value": "qMsIjEBybWyKV9KV"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "reviewId",
              "id": "reviewId",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "replyText",
              "id": "replyText",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "app_id",
              "id": "app_id",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "app_id": "={{ $json.app_id }}",
            "replyText": "={{ $json.replyText }}",
            "reviewId": "={{ $json.reviewId }}"
          }
        }
      },
      "position": [
        528,
        96
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "1e081cdc-2aea-42d9-a8d8-b2eb0f9182fa",
      "name": "Set Result",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88bb3078-4fd6-429e-b8f6-7a18c966daa7",
              "name": "=success",
              "type": "boolean",
              "value": "={{ $json.success }}"
            },
            {
              "id": "4ee65e89-d838-49a7-b1f4-7eeea77ef64c",
              "name": "error",
              "type": "string",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        800,
        16
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "e0f4feb6-cf79-4577-80ca-5ef0862bac4b",
      "name": "Sticky Note",
      "parameters": {
        "content": "## TODO\nConnect this, I disconnected to not post a reply by mistake.\n"
      },
      "position": [
        96,
        -160
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "app_id": "muj_up",
          "platform": "Android",
          "replyText": "Děkujeme za review.",
          "reviewId": "test-544774"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-24T13:32:31.940Z",
      "project": {
        "createdAt": "2025-10-24T13:32:29.955Z",
        "description": null,
        "icon": null,
        "id": "VkQs5OwIPTLelYCF",
        "name": "Michal Janecek <michal.janecek@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2025-10-24T13:32:29.955Z",
            "projectId": "VkQs5OwIPTLelYCF",
            "updatedAt": "2025-10-24T13:32:29.955Z",
            "user": {
              "createdAt": "2025-10-24T13:32:28.786Z",
              "disabled": false,
              "email": "michal.janecek@gmail.com",
              "firstName": "Michal",
              "id": "12951ae8-ddcc-476d-9f57-387eafc1e9d9",
              "isPending": false,
              "lastActiveAt": "2025-10-24",
              "lastName": "Janecek",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-24T13:39:35.272Z",
                "version": "v4"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "userActivated": false
              },
              "updatedAt": "2025-10-24T13:51:04.011Z"
            },
            "userId": "12951ae8-ddcc-476d-9f57-387eafc1e9d9"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-24T13:39:31.750Z"
      },
      "projectId": "VkQs5OwIPTLelYCF",
      "role": "workflow:owner",
      "updatedAt": "2025-10-24T13:32:31.940Z",
      "workflowId": "FxVE7l2gg9ZJP5xr"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-24T13:59:09.150Z",
  "versionId": "be3728fe-b4bc-4e98-8e55-54d260d060d0"
}
